.App {
  text-align: center;
}

h2{
  background-color: blue;
  
}

.shoes-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  justify-content: flexDirection; /* Adjust to your layout preference */
}
